    header {
        background-color: #5e60b5;
        color: white;
        text-align: center;
        font-size: 1.8rem;
        padding-top: 5%;
        height: 60px;
    }
    
    body {
        font-size: 18px;
        color: #623137;
        background-color: #ebdf5f;
        width: 80%;
        margin: auto;
        font-family: tensentype-ruihei, sans-serif;
        font-weight: 300;
        font-style: normal;
        line-height: 2rem;
    }
    
    img {
        max-width: 60%;
        margin: auto;
    }
    
    button {
        max-width: 340px;
        max-height: 40px;
        background-color: rgb(55, 80, 155);
        border-radius: 10px;
        border-style: groove;
        font-family: tensentype-ruihei, sans-serif;
        font-size: medium;
        color: white;
    }
    
    footer {
        font-size: 1rem;
        background-color: #5e60b5;
        width: 80%;
        margin: auto;
        font-family: tensentype-ruihei, sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
    }
    
    figcaption {
        color: black;
    }
    
    fieldset {
        border-radius: 1em;
        background-color: #f1f0ea;
        padding: 1% 5%;
        border: solid 3px;
        border-color: black;
        max-width: 800px auto;
        margin-top: 4%;
    }
    
    legend {
        background-color: white;
        border-radius: 10px;
        border: solid white;
        padding: 10px 10px;
        color: black;
        font-weight: 600;
        font-size: larger;
    }
    
    .footer-padding {
        padding-right: 7%;
        color: white;
    }
    
    a:hover {
        color: brown;
    }
    
    a:visited {
        color: brown;
    }
    
    .experience-title {
        font-size: larger;
        color: black;
        padding-bottom: 10%;
    }